.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #00e5ff;
  box-shadow: 0 0 30px #00e5ff;
  margin-bottom: 20px;
}
.section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.skills, .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card, .project-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  backdrop-filter: blur(10px);
}
